# Created by .ignore support plugin (hsz.mobi)
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.xml
*.iml

keywordSpotting/images/test/

keywordSpotting/images/train/
/signature/__init__.py
.idea/
kws/
pattern-recognition-moreno/
signature1.zip
